@{
    ViewData["Title"] = "Image Facial Recognition Training";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <form asp-action="UploadAsync" asp-controller="FaceAnalysis" enctype="multipart/form-data" method="post">
                    @Html.AntiForgeryToken()
                    <div class="col-md-6" style="padding-right:20px">
                        <input type="file" name="files" webkitdirectory mozdirectory msdirectory odirectory directory required />
                    </div>
                    <div class="col-md-3">
                        <input name="faceName" type="text" placeholder="Name of the person" required />
                    </div>
                    <div class="col-md-3">
                        <input id="facialReco" type="submit" value="Intialise Upload For Face Training" />
                    </div>
                </form>
            </div>
            <br />
        </div>
    </div>
</div>

@section scripts{
    <script>

    </script>
}
