@{
    ViewData["Title"] = "Speech Testing";
}
<h2>@ViewData["Title"].</h2>

<div class="container">
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                @Html.AntiForgeryToken()
                <div class="col-md-9">
                    <input name="speechText" id="speech-text" type="text" placeholder="Hi, how are you." required />
                </div>
                <div class="col-md-3">
                    <button id="speech-text-button-trigger">Test Speech</button>
                </div>
            </div>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9" id="autoPlayDiv">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $('#speech-text-button-trigger').click(function () {
                var textSpeech = $('#speech-text').val();
                $.ajax({
                    type: 'GET',
                    url: 'api/speechAnalysisAsync?speechText=' + textSpeech,

                    success: function (fileName) {
                        PopulateDiv(fileName);
                    },
                    error: function (request, status, error) {
                        alert(error);
                    }
                });
            });

            function PopulateDiv(fileName) {
                const appendingDiv = "<div id='player'><audio autoplay hidden><source src='audio/" + fileName + ".wav' type='audio/wav'>If you are reading this, audio isn't supported.</audio></div >";
                $('#autoPlayDiv').append(appendingDiv);
            }
        });
    </script>
}
