@{
    ViewData["Title"] = "Image Facial Recognition App";
    ViewData["Message"] = "Workflow Testing";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-6" style="padding-right:20px">
                    <input type="file" name="file" />
                </div>
                <div class="col-md-3">
                    <input id="facialReco" type="submit" value="Intialise Upload For Analysis" />
                </div>
            </div>
            <br />
            <div class="container">
                <br />
                <p id="imageChoosenText">Image Choosen is ...</p>
                <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
                    <img class="img-responsive" id="uploadedImage" src="#" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/home.js">
    </script>
}
