@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    NSW<br />
    Australia<br />
    <abbr title="Phone">M:</abbr>
    61 431904071
</address>

<address>
    <strong>Email:</strong> <a href="mailto:shuvayu.dhar@gmail.com">shuvayu.dhar@gmail.com</a>
</address>
