@model MFA.Entities.ViewModels.DisplayViewModel
@{
    ViewData["Title"] = "Image Facial Recognition App";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <div class="pull-right row" style="">
        <button id="emotion-button-trigger"> Emotional Analysis</button>
        <button id="facial-button-trigger"> Facial Analysis</button>
        <button id="speech-text-button-trigger">Speak Result</button>
    </div>
    <div class="row">
        <div class="col-md-8" style="padding-left: 0px;  padding-right: 0px;">
            <img class="img-responsive" src="@Model.ImageUrl" alt="Uploaded Image" />
        </div>
        <div class="col-md-4 pull-right">
            <p id="textResults"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9" id="autoPlayDiv">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    @Html.Hidden("imageUrl", Model.ImageUrl);
</div>
@section scripts{
    <script src="~/js/emotionFunctionality.js">
    </script>
    <script src="~/js/faceFunctionality.js">
    </script>
    <script src="~/js/speechFunctionality.js">
    </script>
}