@{
    ViewData["Title"] = "Image Facial Recognition App";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <form asp-action="Upload" asp-controller="Home" enctype="multipart/form-data" method="post">
                    @Html.AntiForgeryToken()
                    <div class="col-md-6" style="padding-right:20px">
                        <input type="file" name="file" />
                    </div>
                    <div class="col-md-3">
                        <input id="facialReco" type="submit" value="Intialise Upload For Facial Recognition" />
                    </div>
                </form>
            </div>
            <br/>
            <div class="container">
                <br/>
                <p id="imageChoosenText">Image Choosen is ...</p>
                <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
                    <img class="img-responsive" id="uploadedImage" src="#" />
                </div>
            </div>
        </div>
    </div>

    @section scripts{
        <script>
            $('#uploadedImage').hide();
            $('#facialReco').hide();
            $('#imageChoosenText').hide();

            $(function () {
                $(":file").change(function () {
                    if (this.files && this.files[0]) {
                        var reader = new FileReader();
                        reader.onload = imageHasBeenLoaded;
                        reader.readAsDataURL(this.files[0]);
                    }
                });
            });

            function imageHasBeenLoaded(e) {
                $('#uploadedImage').attr('src', e.target.result);
                $('#uploadedImage').show();
                $('#facialReco').show();
                $('#imageChoosenText').show();
            };
        </script>
    }
