@{
    ViewData["Title"] = "Image Facial Recognition";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-6" style="padding-right:20px">
                    <input type="file" name="image" />
                </div>
                <div class="col-md-3">
                    <input id="facialReco" type="button" value="Intialise Facial Recognition" />
                </div>
            </div>
            <img id="uploadedImage" src="#" />
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#uploadedImage').hide();
        $('#facialReco').hide();

        $(function () {
            $(":file").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageHasBeenLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });

        function imageHasBeenLoaded(e) {
            $('#uploadedImage').attr('src', e.target.result);
            $('#uploadedImage').show();
            $('#facialReco').show();
        };
    </script>
}